@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #f2f4f2;
  --foreground: #1a2621;
  --accent: #c84c4c;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #1a2420;
    --foreground: #F2F4F2;
    --accent: #C84C4C;
  }
} */

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  ::selection {
    background-color: var(--accent);
    color: white;
  }
}
